<div class="heading__content"></div>
<h1 class="mat-h1 pad">Projects</h1>
<div class="row component gutter__column--dt gutter__column--xdt"  *ngIf="resourceList && resourceList.length">
    <div *ngFor="let project of resourceList" class="column__xdt--4 column__dt--4">
        <mat-card>
            <mat-card-title>{{project.name}}</mat-card-title>
            <mat-card-content>
                <img mat-card-image src="assets/images/project_background.png">
                <p>{{project.description}}</p>
                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" (click)="open(project)">Open</button>
                <button mat-button (click)="edit(project)">Edit</button>
                <button mat-button color="warn" (click)="delete(project)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>


<button mat-fab class="button__float" routerLink="/projects/new" *ngIf="resourceList && resourceList.length">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
</button>

<div class="row center-center" *ngIf="httpProgress">
    <mat-spinner></mat-spinner>
</div>

<div class="row center-center" *ngIf="(!resourceList || !resourceList.length) && !httpProgress">
    <div class="column__dt--12 column__xdt--12 self__center empty__image">
        <img src="assets/images/empty_records.png">
    </div>
    <p class="column__dt--12 column__xdt--12 mat-h1 self__center">Empty in keys</p>
    <p class="column__dt--12 column__xdt--12 mat-title self__center">Save a translation key and it will show up here.</p>
    <button mat-raised-button color="primary" routerLink="/projects/new">Add New</button>
</div>