<mat-card>
    <form [formGroup]="projectForm.form">
        <mat-card-title>
            <h4>{{title}}</h4>
        </mat-card-title>
        <mat-card-content>
            <mat-progress-bar mode="indeterminate" *ngIf="inProgress"></mat-progress-bar>
            <mat-form-field class="row">
                <input matInput placeholder="Name" formControlName="name" id="name" [errorStateMatcher]="matcher">
                <ng-container>
                    <mat-error id="name-empty-error" *ngIf="projectForm.form.get('name').hasError('required')">
                        name can't be empty
                    </mat-error>
                    <mat-error id="name-less-error" *ngIf="projectForm.form.get('name').hasError('minlength')">
                        Please enter at least 5 characters
                    </mat-error>
                    <mat-error id="name-max-error" *ngIf="projectForm.form.get('name').hasError('maxlength')">
                        Maximum characters limit of name is 20
                    </mat-error>

                </ng-container>
            </mat-form-field>
            <mat-form-field class="row">
                <input matInput placeholder="Description" formControlName="description" id="description" [errorStateMatcher]="matcher">
                <ng-container>
                    <mat-error id="description-empty-error" *ngIf="projectForm.form.get('description').hasError('required')">
                        name can't be empty
                    </mat-error>
                    <mat-error id="description-less-error" *ngIf="projectForm.form.get('description').hasError('minlength')">
                        Please enter at least 10 characters
                    </mat-error>
                    <mat-error id="description-max-error" *ngIf="projectForm.form.get('description').hasError('maxlength')">
                        Maximum characters limit of name is 200
                    </mat-error>

                </ng-container>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" *ngIf=!isForUpdate (click)="post()" type="submit">Save</button>
            <button mat-button color="primary" *ngIf=isForUpdate (click)="patch(resource)" type="submit">Update</button>
            <button mat-button color="warn" *ngIf=isForUpdate (click)="delete(resource)">delete</button>
            <button mat-button (click)="navigateToList()">Cancel</button>
        </mat-card-actions>
    </form>
</mat-card>