<form [formGroup]="projectForm.form" fxLayout="column" fxLayoutGap="20px">
    <h2 fxFlex fxFlexAlign="center">{{title}}</h2>
    <div fxFlex="2" fxLayout="column" fxLayoutGap="10px" class="login__form">
        <mat-progress-bar mode="indeterminate" *ngIf="inProgress"></mat-progress-bar>
        <mat-form-field>
            <input matInput type="text" formControlName="name" placeholder="Name" id="name" />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="description" formControlName="description" placeholder="Description" id="description" />
        </mat-form-field>
        <div class="row">
            <button mat-raised-button color="primary" *ngIf=!isForUpdate (click)="post()" type="submit">Save</button>
            <button mat-raised-button color="primary" *ngIf=isForUpdate (click)="patch(resource)" type="submit">Update</button>
            <button mat-raised-button color="warn" *ngIf=isForUpdate (click)="delete(resource)">delete</button>
            <button mat-raised-button (click)="navigateToList()">Cancel</button>
        </div>
    </div>
</form>