<div class="row component gutter__column--dt gutter__column--xdt">
    <div class="column__xdt--6 column__dt--6 project--card">
        <mat-card>
            <mat-card-title>Locales</mat-card-title>
            <mat-card-content class="project__holder bc--darkcyan"></mat-card-content>
        </mat-card>

    </div>
    <div class="column__xdt--6 column__dt--6 project--card">
        <mat-card>
            <mat-card-title>Translations</mat-card-title>
            <mat-card-content class="project__holder bc--darkblue"></mat-card-content>
        </mat-card>

    </div>
    <div class="column__xdt--6 column__dt--6 project--card">
        <mat-card>
            <mat-card-title>Locale Keys</mat-card-title>
            <mat-card-content class="project__holder bc--darkorange"></mat-card-content>
        </mat-card>

    </div>
    <div class="column__xdt--6 column__dt--6 project--card">
        <mat-card>
            <mat-card-title>Users</mat-card-title>
            <mat-card-content class="project__holder bc--cornflowerblue"></mat-card-content>
        </mat-card>

    </div>
</div>