<div class="row component gutter__column--dt gutter__column--xdt" *ngIf="resourceList && resourceList.length">
    <div *ngFor="let project of resourceList" class="column__xdt--4 column__dt--4">
        <mat-card>
            <mat-card-title>{{project.name}}</mat-card-title>
            <mat-card-content>
                <img mat-card-image>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" (click)="open(project)">Open</button>
                <button mat-button (click)="edit(project)">Edit</button>
                <button mat-button color="warn" (click)="delete(project)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>

<div class="row center-center" *ngIf="!resourceList || !resourceList.length">
    <div class="column__dt--12 column__xdt--12 self__center">
        <mat-icon class="icon--large">business_center</mat-icon>
    </div>
    <p class="column__dt--12 column__xdt--12 mat-h2 self__center">No projects found.</p>
    <button mat-raised-button color="primary" routerLink="/projects/new">Add New</button>
</div>
<button mat-fab class="button__float" routerLink="/projects/new" *ngIf="resourceList && resourceList.length">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
</button>