<mat-sidenav-container class="sidebar-container">
    <mat-sidenav mode="side" [(opened)]="sidebar.active" class="sidebar">
        <mat-nav-list>
            <h3 mat-subheader>Selected Project</h3>
            <mat-list-item>
                <mat-icon matListIcon>dns</mat-icon>
                <h2 matLine> {{sidebar.title}} </h2>
            </mat-list-item>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list *ngIf="sidebar.active">
            <h3 mat-subheader>Actions</h3>
            <mat-list-item *ngFor="let action of actionList" 
            routerLink="{{getResourceHref(action.title)}}" >
                <mat-icon mat-list-icon>{{action.icon}}</mat-icon>
                <h4 mat-line>{{action.title}}</h4>
            </mat-list-item>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list *ngIf="sidebar.active">
            <h3 mat-subheader>Settings</h3>
            <mat-list-item *ngFor="let setting of settingList">
                <mat-icon mat-list-icon>{{setting.icon}}</mat-icon>
                <h4 mat-line>{{setting.title}}</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="page">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>