<mat-card class="column__xdt--12 column__dt--12" *ngIf="resourceList && resourceList.length">
    <mat-card-title >Keys</mat-card-title>

    <mat-card-content>
        <mat-list class="row" >
            <mat-list-item *ngFor="let key of resourceList">
                <div mat-line class="color--darkorange">{{key.name}}</div>
                <div mat-line>{{key.description}}</div>

                <div>
                    <button mat-icon-button [matMenuTriggerFor]="resourceMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #resourceMenu="matMenu">
                        <button mat-menu-item (click)="edit(key)">Edit</button>
                        <button mat-menu-item (click)="delete(key)">Delete</button>
                    </mat-menu>
                </div>
            </mat-list-item>

        </mat-list>
        
    </mat-card-content>

</mat-card>
<button mat-fab class="button__float model-path-new" (click)="add()" *ngIf="resourceList && resourceList.length">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
</button>

<div class="row center-center" *ngIf="httpProgress">
        <mat-spinner ></mat-spinner>
</div>

<div class="row center-center" *ngIf="(!resourceList || !resourceList.length) && !httpProgress">
    <div class="column__dt--12 column__xdt--12 self__center empty__image">
        <img src="assets/images/empty_records.png">
    </div>
    <p class="column__dt--12 column__xdt--12 mat-h1 self__center">Empty in keys</p>
    <p class="column__dt--12 column__xdt--12 mat-title self__center">Save a translation key and it will show up here.</p>
    <button mat-raised-button color="primary" (click)="add()">Add New</button>
</div>