<form [formGroup]="keyForm.form" class="column__xdt--6">

    <mat-card class="row">
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-content class="">
            <mat-form-field class="row">

                <input matInput placeholder="Name" formControlName="name" id="name" [errorStateMatcher]="matcher">
                <ng-container>
                    <mat-error id="name-empty-error" *ngIf="keyForm.form.get('name').hasError('required')">
                        name can't be empty
                    </mat-error>
                    <mat-error id="name-less-error" *ngIf="keyForm.form.get('name').hasError('minlength')">
                        Please enter at least 5 characters
                    </mat-error>
                    <mat-error id="name-max-error" *ngIf="keyForm.form.get('name').hasError('maxlength')">
                        Maximum characters limit of name is 20
                    </mat-error>

                </ng-container>
            </mat-form-field>

            <mat-form-field class="row">
                <input matInput placeholder="Description" formControlName="description" id="description" [errorStateMatcher]="matcher">
                <ng-container>
                    <mat-error id="description-empty-error" *ngIf="keyForm.form.get('description').hasError('required')">
                        description can't be empty
                    </mat-error>
                    <mat-error id="description-less-error" *ngIf="keyForm.form.get('description').hasError('minlength')">
                        Please enter at least 5 characters
                    </mat-error>
                    <mat-error id="description-max-error" *ngIf="keyForm.form.get('description').hasError('maxlength')">
                        Maximum characters limit of name is 6
                    </mat-error>

                </ng-container>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" *ngIf=!isForUpdate (click)="post()" type="submit">SAVE</button>
            <button mat-button color="primary" *ngIf=isForUpdate (click)="patch(resource)" class="">UPDATE</button>
            <button mat-button color="warn" *ngIf=isForUpdate (click)="delete(resource)">DELETE</button>
            <button mat-button (click)="navigateToList()">CANCEL</button>
        </mat-card-actions>

    </mat-card>
</form>