<div class="heading__content"></div>
<h1 class="mat-h1">Locales</h1>
<mat-accordion  *ngIf="resourceList && resourceList.length">
    <mat-expansion-panel *ngFor="let locale of resourceList" class="column__xdt--8 column__dt--8">
        <mat-expansion-panel-header collapsedHeight="72px">
            <mat-panel-title>
                <img matListAvatar src="assets/images/flags/{{locale.code}}.png" alt="..." class="icon__list">
                <div class="panel__title">{{locale.name}} - {{locale.code}}</div>
            </mat-panel-title>
            <mat-panel-description>
                <mat-progress-bar mode="determinate" value="80" *ngIf="locale.present" class="pad"></mat-progress-bar>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row>
            <button mat-button color="primary" (click)="post(locale.api)" *ngIf="!locale.present">Enable</button>
            <button mat-button color="warn" (click)="delete(locale.api)" *ngIf="locale.present">disable</button>
            <button mat-button color="accent" (click)="download(locale.api, locale.code)" *ngIf="locale.present">Download</button>
            <button mat-button color="accent" (click)="import(locale)" *ngIf="locale.present">Import</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<div class="row center-center" *ngIf="httpProgress">
    <mat-spinner></mat-spinner>
</div>
<div class="row center-center" *ngIf="(!resourceList || !resourceList.length) && !httpProgress">
    <div class="column__dt--12 column__xdt--12 self__center empty__image">
        <img src="assets/images/empty_records.png">
    </div>
    <p class="column__dt--12 column__xdt--12 mat-h1 self__center">Empty in locales</p>
    <p class="column__dt--12 column__xdt--12 mat-title self__center">Save a language locale and it will show up here.</p>
    <button mat-raised-button color="primary" (click)="add()">Add New</button>
</div>