<mat-progress-bar mode="indeterminate" *ngIf="httpProgress" class="row"></mat-progress-bar>
<form [formGroup]="translationForm.form" class="row component" autocomplete="off">

    <mat-card class="column__xdt--12 column__dt--12">
        <mat-card-title class="color--darkorange">{{keyService.resource.name}}</mat-card-title>
        <mat-card-subtitle>{{keyService.resource.description}}</mat-card-subtitle>
        <mat-card-content class="">
            <mat-form-field class="row">
                <mat-select formControlName="locales" (selectionChange)="onLocalesChange()">
                    <mat-option *ngFor="let locale of locales" [value]="locale._links.self.href">{{locale.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="row">

                <textarea matInput placeholder="Content" formControlName="content" id="content" [errorStateMatcher]="matcher"></textarea>
                <ng-container>
                    <mat-error id="content-empty-error" *ngIf="translationForm.form.get('content').hasError('required')">
                        content can't be empty
                    </mat-error>
                    <mat-error id="content-less-error" *ngIf="translationForm.form.get('content').hasError('minlength')">
                        Please enter at least 5 characters
                    </mat-error>
                    <mat-error id="content-max-error" *ngIf="translationForm.form.get('content').hasError('maxlength')">
                        Maximum characters limit of content is 20
                    </mat-error>

                </ng-container>
            </mat-form-field>


        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" *ngIf=!resource (click)="post()" type="submit">SAVE</button>
            <button mat-button color="primary" *ngIf=resource (click)="put(resource)" class="">UPDATE</button>
            <button mat-button (click)="navigateToList()">CANCEL</button>
        </mat-card-actions>

    </mat-card>
</form>