<div class="row gutter__column--dt gutter__column--xdt component"
    *ngIf="(resourceList && resourceList.length) || isSearched">
    <mat-card class="column__xdt--6 column__dt--6 column__mb--4 card__list">
        <n-toolbar *ngIf="!onSearch" color="white">
            <n-toolbar-content direction="center">
                <n-text type="body2">Keys</n-text>
            </n-toolbar-content>
            <n-toolbar-content direction="right">
                <n-button color="secondary" type="flat" (click)="openSearchBox()" icon="search"></n-button>
            </n-toolbar-content>
        </n-toolbar>
        <n-toolbar color="white" *ngIf="onSearch">
            <n-toolbar-content direction="left">
                <n-button icon="arrow_back" type="flat" (click)="closeSearchBox()">
                </n-button>
            </n-toolbar-content>
            <n-toolbar-content direction="center">
                <form [formGroup]="keyForm.form" class="padding--zero searchbox" autocomplete="off">
                    <mat-form-field class="row">
                        <input matInput formControlName="name" id="name" placeholder="search">
                    </mat-form-field>
                </form>
            </n-toolbar-content>
            <n-toolbar-content direction="right">
                <n-button color="primary" type="flat" (click)="search()" value="Search"></n-button>
            </n-toolbar-content>
        </n-toolbar>
        <mat-card-content>

            <mat-nav-list class="row">
                <mat-list-item *ngFor="let key of resourceList" (click)="open(key)">
                    <div mat-line class="color--darkorange">{{key.name}}</div>
                    <div mat-line>{{key.description}}</div>

                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="resourceMenu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #resourceMenu="matMenu">
                            <button mat-menu-item (click)="edit(key)">Edit</button>
                            <button mat-menu-item (click)="delete(key)">Delete</button>
                        </mat-menu>
                    </div>
                </mat-list-item>

            </mat-nav-list>
            <div *ngIf="!resourceList || !resourceList.length">
                <p>No result found for given search value.</p>
            </div>
            <mat-paginator [length]="page.totalElements" [pageSize]="page.size" (page)="pageHandler($event)">
            </mat-paginator>
        </mat-card-content>

    </mat-card>
    
    <router-outlet></router-outlet>
</div>

<div class="row center-center" *ngIf="httpProgress.progress">
    <mat-spinner class="http-spinner"></mat-spinner>
</div>

<div class="row center-center" *ngIf="(!resourceList || !resourceList.length) && !httpProgress.progress && !isSearched">
    <div class="column__dt--12 column__xdt--12 self__center empty__image">
        <img src="assets/images/empty_records.png">
    </div>
    <p class="column__dt--12 column__xdt--12 mat-h1 self__center">Empty in keys</p>
    <p class="column__dt--12 column__xdt--12 mat-title self__center">Save a translation key and it will show up
        here.</p>
    <button mat-raised-button color="primary" (click)="add()">Add New</button>
</div>