@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$mat-nordea: (
    50: #e8eaf6,
    100: #c5cae9,
    200: #9fa8da,
    300: #7986cb,
    400: #5c6bc0,
    500: #0000a0,
    600: #3949ab,
    700: #303f9f,
    800: #283593,
    900: #1a237e,
    A100: #8c9eff,
    A200: #536dfe,
    A400: #3d5afe,
    A700: #304ffe,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $light-primary-text,
      400: $light-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    )
  );

  $mat-nordea-accent: (
    50: #fce4ec,
    100: #f8bbd0,
    200: #f48fb1,
    300: #f06292,
    400: #ec407a,
    500: #e91e63,
    600: #d81b60,
    700: #c2185b,
    800: #ad1457,
    900: #880e4f,
    A100: #fdece4,
    A200: #ff4081,
    A400: #f50057,
    A700: #c51162,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    )
  );
  
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$candy-app-primary: mat-palette($mat-nordea);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body {
    margin: 0;
}

.pad{
    padding-left: 24px;
    padding-right: 24px;
}

.page {
  margin-top: 64px;
}

.flexBox{
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
}
mat-card.pad--zero{
  padding:0;
}

button.button__float{
  position: fixed;
  right: 48px;
  bottom: 48px;
}

.mat-error {
    position: absolute;
    top: 34px;
    font-size: 13px;
    animation: inherit;
}

.mat-raised-button{
  &::first-of-type {
    margin-left: 0;
  }
  margin-left: 24px;
}

.component{
  padding: 1px 1px 12px 1px;
}

.sidebar-container{
  position: absolute !important;
  left: 0;
  right: 0;
  top: 64px;
  bottom: 0;
}

.mat-drawer-content{
  display: flex;
}

.self__center{
  text-align: center;
}

.icon--large{
  width: 64px !important;
  height: 64px !important;
  font-size: 64px;
}

.icon__list{
  width: 32px !important;
  height: 32px !important;
  border-radius: 0% !important;
  margin-right: 8px;
}

.sidebar{
  width: 224px;
  text-transform: capitalize;
  border-right: 1px solid #eee;
}

mat-divider{
  margin: 8px 0 !important;
}

$color-map : 'darkcyan', 'darkorange', 'darkblue' , 'cornflowerblue';

@each $color in $color-map {
  .color--#{$color} {
    color: #{$color};
  }
}

.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title {
 // display: flex !important;
}