@import '~@angular/material/theming';
@import 'assets/css/input.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$mat-nordea: (
    50: #e8eaf6,
    100: #c5cae9,
    200: #9fa8da,
    300: #7986cb,
    400: #5c6bc0,
    500: #62b3e5,
    600: #3949ab,
    700: #303f9f,
    800: #283593,
    900: #1a237e,
    A100: #8c9eff,
    A200: #536dfe,
    A400: #3d5afe,
    A700: #304ffe,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $light-primary-text,
      400: $light-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    )
  );

  $mat-nordea-accent: (
    50: #fce4ec,
    100: #f8bbd0,
    200: #f48fb1,
    300: #f06292,
    400: #ec407a,
    500: #6cc04a,
    600: #d81b60,
    700: #c2185b,
    800: #ad1457,
    900: #880e4f,
    A100: #fdece4,
    A200: #6cc04a,
    A400: #64DD17,
    A700: #76FF03,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    )
  );
  
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$candy-app-primary: mat-palette($mat-nordea);
$candy-app-accent:  mat-palette($mat-nordea-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body {
    margin: 0;
}

.pad{
    padding-left: 24px;
    padding-right: 24px;
}

.page {
  margin-top: 64px;
}

.flexBox{
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
}
mat-card.pad--zero{
  padding:0;
}

button.button__float{
  position: fixed;
  right: 48px;
  top: 185px;
}

.mat-error {
    position: absolute;
    bottom: -16px;
    font-size: 13px;
    animation: inherit;
}

.mat-raised-button{
  &::first-of-type {
    margin-left: 0;
  }
  margin-left: 24px;
}

.component{
  padding: 1px 1px 12px 1px;
}

.sidebar-container{
  position: absolute !important;
  left: 0;
  right: 0;
  top: 64px;
  bottom: 0;
  padding-bottom: 64px;
}

.mat-drawer-content{
  display: flex;
}

.self__center{
  text-align: center;
}

.icon--large{
  width: 64px !important;
  height: 64px !important;
  font-size: 64px;
}

.icon__list{
  width: 32px !important;
  height: 32px !important;
  border-radius: 0% !important;
  margin-right: 8px;
}

.sidebar{
  width: 224px;
  text-transform: capitalize;
  border-right: 1px solid #eee;
}

mat-divider{
  margin: 8px 0 !important;
}

$color-map : 'darkcyan', 'darkorange', 'darkblue' , 'cornflowerblue';

@each $color in $color-map {
  .color--#{$color} {
    color: #{$color};
  }

  .bc--#{$color} {
    background: #{$color}
  }
}

.project__holder{
  height: 175px;
}

.project--card{
  padding: 8px;
}

.project__card {
  margin-bottom: 24px;
  .mat-ripple{
    cursor: pointer;
    overflow: visible !important;
  }
}

.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title {
 // display: flex !important;
}

.translation-form {
  position: fixed;
  left: 60%;
  max-width: 30%;
}

.empty__image{
  padding-bottom: 32px;
}

.flex {
  display: flex !important;
}

.searchbox{
  font-size: 16px !important;
}

.hide {
  display:  none !important;
}

.padding--zero {
  padding: 0 !important;
}

.action_box{
  display: flex;

  butt{
    margin-left: 8px;
  }
}

.toolbar{
  display: flex !important;
  
  .left{
    flex:0 1 0;
    text-align: left;
    padding-right: 16px;
  }

  .center{
    flex: 2;
  }

  .right{
    flex:1;
    text-align: right
  }
}
.footer{
  padding: 24px;
  z-index: 100;
  background: #eee;
  color: darkcyan;
  text-align: center; 
  position: absolute;
  bottom: 0;
}

.breadcrumb{
  z-index: 1000;
  position: relative;
  display: block;
  left: 30%;
  display: flex;
}

.breadcrumb__item{
  flex: 0 1 0;
  color: darkcyan;
}

.mat-card-image{
  margin: -24px !important;
  padding-bottom: 24px !important;
}

.login-background {
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  overflow: hidden;
  background-color: #000040;
  background-image: url(/assets/images/login_background.png);
  position: fixed;
  z-index: -1;
  box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
}

.toolbar__fixed{
  position: fixed;
  z-index: 1000;
}

.background__transparent{
  background: transparent !important;
}

.tieto__logo--side{
  position: fixed;
  right:0;
  bottom: 0;
  z-index: 1;
  background-image: url(/assets/images/tieto_logo_side.png);
  width: 202px;
  height: 250px;
  background-size: cover;
  background-position: bottom;
}

.heading__content{
  position: fixed;
  height: 100px;
  background: #eee;
  width: 100%;
  top: 65px;
  padding: 24px 0;
  left: 0;
  z-index: -1;
}

.mat-button{
  text-transform: uppercase;  
}

.project__fab{
  position: absolute !important;
  right: 5%;
  margin-top: -48px !important;
}

.mat__list--wapper {
  .mat-list-text{
    flex : 1;
  }
  .mat-progress-bar {
    flex: 2;
  }

  .mat-list-action{
    flex:1;
    display: flex;
  }
}

mat-panel-description mat-progress-bar{
  margin: 12px 64px 0 0;
}

mat-panel-title .panel__title{
  line-height: 32px;
  margin: 0 16px;
}

.card__list{
  padding: 0 !important;

  .mat-card-title{
    padding: 16px 16px 0 16px !important;
    border-bottom: 1px solid #eee !important;
  }
}

.http-spinner{
  position: fixed !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.mat-dialog-content{
  margin: 16px -24px !important;
}