<mat-toolbar color="primary" class="toolbar__fixed" [class.background__transparent]="transparentBackground">
    <mat-toolbar-row class="toolbar">
        <span class="left">
            <mat-icon>gesture</mat-icon>
            Translation Solution
        </span>
        <div class="center" *ngIf="jwtToken.user">
            <button mat-button routerLink="/projects">Projects</button>
        </div>
        <div class="right">
            <button mat-button>About Us</button>
            <button mat-button>Contact Us</button>
            <div *ngIf="jwtToken.user" class="mat-button">
                <button mat-button [matMenuTriggerFor]="menu">{{jwtToken.user.username}}</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Profile</button>
                    <button mat-menu-item>Settings</button>
                    <button mat-menu-item routerLink="/logout">Logout</button>
                </mat-menu>
            </div>
        </div>


    </mat-toolbar-row>
</mat-toolbar>