<n-toolbar class="toolbar">
    <n-toolbar-content direction="left">
        <n-icon size="small" name="menu" *ngIf="userDetails" (click)="toggleSideBar($event)"></n-icon>
    </n-toolbar-content>
    <n-toolbar-content direction="center">
        <n-text type="h6">Translation Solution</n-text>
    </n-toolbar-content>
    <n-toolbar-content direction="right">

        <n-menu icon="more-vert" direction="right" color="secondary">
            <n-menu-item *ngIf="userDetails" title="User: Zainul"></n-menu-item>
            <n-menu-item showAsAction="ifRoom" title="About Us" icon="info"></n-menu-item>
            <n-menu-item showAsAction="ifRoom" title="Contact Us" icon="settings-phone"></n-menu-item>
            <n-menu-item icon="visibility" title="Profile"></n-menu-item>
            <n-menu-item icon="settings" title="Settings"></n-menu-item>
            <n-menu-item routerLink="/logout" *ngIf="userDetails" title="Logout"></n-menu-item>
        </n-menu>
    </n-toolbar-content>
</n-toolbar>