<form [formGroup]="loginForm.form" fxLayout="column" fxLayoutGap="20px">
    <h2 fxFlex fxFlexAlign="center">{{title}}</h2>
    <div id="api-error" *ngIf="apiError">
        Unable to connet application server.
    </div>
    <div fxFlex="2" fxLayout="column" fxLayoutGap="10px" class="">
        <mat-form-field class="example-full-width">

            <input matInput placeholder="Username" formControlName="username" id="username" [errorStateMatcher]="matcher">
            <ng-container>
                <mat-error id="username-empty-error" *ngIf="loginForm.form.get('username').hasError('required')">
                    Username can't be empty
                </mat-error>
                <mat-error id="username-less-error" *ngIf="loginForm.form.get('username').hasError('minlength')">
                    Please enter at least 5 characters
                </mat-error>
                <mat-error id="username-max-error" *ngIf="loginForm.form.get('username').hasError('maxlength')">
                    Maximum characters limit of username is 20
                </mat-error>

            </ng-container>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="password" id="password" [errorStateMatcher]="matcher">
            <ng-container>
                <mat-error id="password-invalid-error" *ngIf="loginForm.form.get('password').hasError('password')">
                    Email can't be empty
                </mat-error>
                <mat-error id="password-less-error" *ngIf="loginForm.form.get('password').hasError('minlength')">
                    Please enter at least 5 characters
                </mat-error>
                <mat-error id="password-max-error" *ngIf="loginForm.form.get('password').hasError('maxlength')">
                    Maximum characters limit of username is 30
                </mat-error>

            </ng-container>
        </mat-form-field>
        
        <div class="row">
            <button mat-raised-button color="primary" (click)="login()">Save</button>
           
        </div>
        
    </div>
</form>