<div class="login-background">
</div>
<div class="heading__content pad" *ngIf="response">
    <div class="column__xdt--8 column__dt--12">
        <p class="mat-h3 pad">Thanks, we have received your request.</p>
        <p class="mat-h3 pad">Our support team will notify you with account activation link. <button mat-button color="primary" routerLink="/">Back to home</button></p>
        
    </div>

</div>
<div class="column__xdt--4 column__dt--6" *ngIf="!response">
    <mat-progress-bar mode="indeterminate" *ngIf="httpProgress.progress" class="row"></mat-progress-bar>
    <mat-card>
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <form [formGroup]="userForm.form" class="row">
                <div class="column__xdt--12 column__dt--12">
                    <mat-form-field class="row">

                        <input matInput placeholder="Username" formControlName="username" id="username" [errorStateMatcher]="matcher">
                        <ng-container>
                            <mat-error id="username-empty-error" *ngIf="userForm.form.get('username').hasError('required')">
                                Username can't be empty
                            </mat-error>
                            <mat-error id="username-less-error" *ngIf="userForm.form.get('username').hasError('minlength')">
                                Please enter at least 5 characters
                            </mat-error>
                            <mat-error id="username-max-error" *ngIf="userForm.form.get('username').hasError('maxlength')">
                                Maximum characters limit of username is 20
                            </mat-error>

                        </ng-container>
                    </mat-form-field>
                    <mat-form-field class="row">

                        <input matInput type="email" placeholder="Email" formControlName="email" id="email" [errorStateMatcher]="matcher">
                        <ng-container>
                            <mat-error id="email-empty-error" *ngIf="userForm.form.get('email').hasError('required')">
                                Email can't be empty
                            </mat-error>
                            <mat-error id="email-invalid-error" *ngIf="userForm.form.get('email').hasError('email')">
                                Invalid email
                            </mat-error>
                            <mat-error id="email-less-error" *ngIf="userForm.form.get('email').hasError('minlength')">
                                Please enter at least 5 characters
                            </mat-error>
                            <mat-error id="email-max-error" *ngIf="userForm.form.get('email').hasError('maxlength')">
                                Maximum characters limit of username is 20
                            </mat-error>

                        </ng-container>
                    </mat-form-field>

                    <mat-form-field class="row">
                        <input matInput placeholder="Password" type="password" formControlName="password" id="password" [errorStateMatcher]="matcher">
                        <ng-container>
                            <mat-error id="password-invalid-error" *ngIf="userForm.form.get('password').hasError('password')">
                                Email can't be empty
                            </mat-error>
                            <mat-error id="password-less-error" *ngIf="userForm.form.get('password').hasError('minlength')">
                                Please enter at least 5 characters
                            </mat-error>
                            <mat-error id="password-max-error" *ngIf="userForm.form.get('password').hasError('maxlength')">
                                Maximum characters limit of username is 30
                            </mat-error>

                        </ng-container>
                    </mat-form-field>

                    <div class="row">
                        <button mat-raised-button color="primary" (click)="register()">Register</button>
                        <button mat-raised-button routerLink="/">Cancel</button>
                    </div>

                </div>
            </form>
            <h4 class="row">
                <span>Already have a account? &nbsp;</span>
                <a routerLink="/login">Login!</a>
            </h4>
        </mat-card-content>
    </mat-card>
</div>
<div class="tieto__logo--side"></div>